.modal-overlay {
  animation: fadeIn 0.25s ease-in-out;
  position: fixed;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.previous-image-button,
.next-image-button {
  background: rgba(0, 255, 200, 0.3);
  border: none;
  color: #fff;
  font-size: clamp(12px, 2vw, 16px);
  padding: 1em 1.5em;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
}

.previous-image-button:hover,
.next-image-button:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
}

/* Add arrows */
.previous-image-button::before {
  content: '◀';
  font-size: 1.2em;
  margin-right: 0.5em;
}

.next-image-button::after {
  content: '▶';
  font-size: 1.2em;
  margin-left: 0.5em;
}


